          <h2>EDUCATION
            <span class="underline"></span>
          </h2>
          <div>
            <div class="row">
              <div class="col-7">
                <h4>Undergraduate of Maestría en Educación Universitaria</h4>
              </div>
              <div class="col-5 text-end">
                <h5 class="text-black-50">Postgrado Continental College</h5>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <strong class="text-black-50">
                  Aug 2017 - Dec 2019
                </strong>          
              </div>
            </div>
          </div>
          <div class="mt-2">
            <div class="row">
              <div class="col-7">
                <h4>Undergraduate Mechatronics Engineering</h4>
              </div>
              <div class="col-5 text-end">
                <h5 class="text-black-50">Continental de Ciencias e Ingeniería University</h5>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <strong class="text-black-50">
                  August 2015 - December 2019
                </strong>          
              </div>
            </div>
          </div>          
          <div class="mt-2">
            <div class="row">
              <div class="col-7">
                <h4>Bachelor in Systems Engineering and Informatics</h4>
              </div>
              <div class="col-5 text-end">
                <h5 class="text-black-50">Continental de Ciencias e Ingeniería University</h5>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <strong class="text-black-50">
                  April 2008 - July 2013
                </strong>          
              </div>
            </div>
          </div>          