    <h2>DETAILS
      <span class="underline"></span>
    </h2>
    <div class="mb-3">
      <strong class="d-block">Nationality: </strong>
      <span class="text-black-50">
        Peruvian
      </span>
    </div>
    <div class="mb-3">
      <strong class="d-block">DoB: </strong>
      <span class="text-black-50">
        30th of October 1989
      </span>
    </div>
    <div class="mb-3">
      <strong class="d-block">Address: </strong>
      <span class="text-black-50">
        jr. Necochea 361 – Cerrito de la Libertad – Huancayo
      </span>
    </div>        
    <div class="mb-3">
      <strong class="d-block">Phone: </strong>
      <span class="text-black-50">
        +51 981 999933
      </span>
    </div>
    <div class="mb-3">
      <strong class="d-block">Email: </strong>
      <span class="text-black-50">me@rayrojas.info</span>
    </div>
    <div class="mb-3">
      <strong class="d-block">Github: </strong>
      <span class="text-black-50"><a href="https://github.com/lokcito/">https://github.com/lokcito/</a></span>
    </div>
    <div class="mb-3">
      <strong class="d-block">Linkedin: </strong>
      <span class="text-black-50"><a href="https://www.linkedin.com/in/ray-rojas/">ray-rojas</a></span>
    </div>
    <div class="mb-3">
      <strong class="d-block">Website: </strong>
      <span class="text-black-50"><a href="https://equisd.com">https://equisd.com</a></span>
    </div>   
    <div class="mb-3">
      <strong class="d-block">Skype: </strong>
      <span class="text-black-50">enciso.leo</span>
    </div>