<h2>
  EMPLOYMENT HISTORY
  <span class="underline"></span>
</h2>
<div>
  <div class="row">
    <div class="col-9">
      <h4>Senior Full-Stack Developer, UPSJB</h4>
    </div>
    <div class="col-3 text-end">
      <h5 class="text-black-50">Peru</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <strong class="text-black-50">October 2023 – Present</strong>
      <div class="mt-2 pl-5">
        <strong>Responsibilities: </strong>
        <div class="pl-4">
          <ul class="text-black-50 mb-1">
            <li>
              Planned and executed academic projects, including a convalidation
              simulator, an admission platform, and a system for uploading
              student requirements.
            </li>
            <li>
              Maintained and enhanced existing applications built on the Spring
              Boot Framework.
            </li>
            <li>
              Integrated platforms and web services for students and internal
              staff, ensuring seamless functionality.
            </li>
            <li>
              Developed and implemented unit tests to improve code quality and
              reliability.
            </li>
            <li>
              Proposed technological solutions to achieve customer objectives.
            </li>
          </ul>
        </div>
      </div>
      <div class="pl-5">
        <strong>🛠 Tools: </strong>
        <div class="pl-4">
          <ul class="text-black-50">
            <li>
              <strong>Frontend Development:</strong> TypeScript, Vue, React, Angular.
            </li>
            <li>
              <strong>Backend Development:</strong> Spring Boot, ASP.NET Core.
            </li>
            <li><strong>Databases:</strong> MySQL, Postgres.</li>
            <li><strong>Project Management Tools:</strong> Azure Repos.</li>
            <li><strong>Testing Tools:</strong> Vitest.</li>
            <li><strong>Other Tools:</strong> MongoDB, Microsoft Teams.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-9">
      <h4>Senior Full-Stack Developer, L&A Electronic</h4>
    </div>
    <div class="col-3 text-end">
      <h5 class="text-black-50">Colombia</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <strong class="text-black-50"> April 2023 - Present </strong>
      <div class="mt-2 pl-5">
        <strong>Responsibilities: </strong>
        <div class="pl-4">
          <ul class="text-black-50 mb-1">
            <li>
              Planned and implemented project features for the customer's
              company, covering both backend and frontend development.
            </li>
            <li>Development of features / Fix bugs.</li>
            <li>
              Integrated platforms and web services to streamline information
              sharing on journeys and customer data.
            </li>
            <li>
              Managed deployment and continuous integration processes using
              GitLab CI/CD pipelines and containerization tools.
            </li>
            <li>
              Proposed technological solutions to achieve customer objectives.
            </li>
          </ul>
        </div>
      </div>
      <div class="pl-5">
        <strong>🛠 Tools: </strong>
        <div class="pl-4">
          <ul class="text-black-50">
            <li><strong>Frontend Development:</strong> TypeScript, Vue.</li>
            <li><strong>Backend Development:</strong> TypeScript, NestJS.</li>
            <li><strong>Project Management Tools:</strong> GitLab, Jira.</li>
            <li><strong>Testing Tools:</strong> Playwright, Vitest.</li>
            <li><strong>Other Tools:</strong> MongoDB, Shopify Tools.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-9">
      <h4>FullStack Senior Software Developer, Joy It</h4>
    </div>
    <div class="col-3 text-end">
      <h5 class="text-black-50">Peru</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <strong class="text-black-50"> October 2022 - March 2023 </strong>
      <div class="mt-2 pl-5">
        <strong>Responsibilities: </strong>
        <div class="pl-4">
          <ul class="text-black-50 mb-1">
            <li>
              Planned and implemented features for a management forms project,
              covering both backend and frontend development.
            </li>
            <li>
              Development of features / Fix bugs during each sprint closure.
            </li>
            <li>
              Integrating platforms and web services with data exchanged between
              systems and MongoDB.
            </li>
            <li>
              Managed deployment and continuous integration, ensuring at least
              80% test coverage.
            </li>
            <li>
              Proposed technological solutions to achieve customer objectives.
            </li>
          </ul>
        </div>
      </div>
      <div class="mt-2 pl-5">
        <strong>🛠 Tools: </strong>
        <div class="pl-4">
          <ul class="text-black-50">
            <li><strong>Frontend Development:</strong> TypeScript, Vue.</li>
            <li><strong>Backend Development:</strong> TypeScript, NestJS.</li>
            <li><strong>Project Management Tools:</strong> GitLab, Jira.</li>
            <li><strong>Testing Tools:</strong> Playwright, Vitest.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-9">
      <h4>Project Management of Software Development, Classic Alpaca SAC</h4>
    </div>
    <div class="col-3 text-end">
      <h5 class="text-black-50">Peru</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <strong class="text-black-50"> April 2013 - October 2023 </strong>
      <div class="mt-2 pl-5">
        <strong>Responsibilities: </strong>
        <div class="pl-4">
          <ul class="text-black-50">
            <li>
              Planning and execution of software projects to support key company
              processes, such as sales and manufacturing.
            </li>
            <li>Assign tasks / requirements to members of a team.</li>
            <li>
              Integration of platforms with data from Django, Rails web
              services.
            </li>
            <li>
              Deployment and continuous integration on e-commerce platforms,
              including unit tests, integration tests, and using Elastic
              Beanstalk.
            </li>
            <li>
              Proposed technological solutions to achieve customer objectives.
            </li>
          </ul>
        </div>
      </div>
      <div class="mt-2 pl-5">
        <strong>🛠 Tools: </strong>
        <div class="pl-4">
          <ul class="text-black-50">
            <li><strong>Python Development:</strong> Django 1.3 - 3.3</li>
            <li><strong>Ruby Development:</strong> Rails 4 - 6</li>
            <li>
              <strong>Frontend Development:</strong> AngularJS, Handlebars, React,
              AngularIO.
            </li>
            <li><strong>Databases:</strong> MySQL, Postgres.</li>
            <li>
              <strong>Project Management Tools:</strong> Github, Bitbucket.
            </li>
            <li><strong>Testing Tools:</strong> Rspec, Selenium.</li>
            <li><strong>Desktop Development:</strong> Java Swing.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-9">
      <h4>Mentoring at Interfell, Edutecno</h4>
    </div>
    <div class="col-3 text-end">
      <h5 class="text-black-50">Chile</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <strong class="text-black-50"> August 2021 - Present </strong>
      <div class="mt-2 pl-5">
        <strong>Responsibilities: </strong>
        <div class="pl-4">
          <ul class="text-black-50">
            <li>
              Planning and execution of bootcamps covering both Frontend and
              Backend development using frameworks such as Django and Ruby on
              Rails.
            </li>
            <li>
              Teach and mentor the development of software solutions using
              Django and Ruby on Rails.
            </li>
            <li>Assess student performance based on rubrics.</li>
          </ul>
        </div>
      </div>
      <div class="mt-2 pl-5">
        <strong>🛠 Tools: </strong>
        <div class="pl-4">
          <ul class="text-black-50">
            <li><strong>Collaborative Tools:</strong> Teams, Miro.</li>
            <li>
              <strong>Coding Environments:</strong> Github, Replit, Gitpod.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-9">
      <h4>Teacher, Continental Institute</h4>
    </div>
    <div class="col-3 text-end">
      <h5 class="text-black-50">Peru</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <strong class="text-black-50"> August 2018 - Present </strong>
      <div class="mt-2 pl-5">
        <strong>Responsibilities: </strong>
        <div class="pl-4">
          <ul class="text-black-50">
            <li>
              Planning and execution of classes based on the syllabus and
              current technological trends.
            </li>
            <li>
              Teach and mentor the development of software solutions for mobile
              and web platforms.
            </li>
            <li>Assess student performance based on rubrics.</li>
          </ul>
        </div>
      </div>
      <div class="mt-2 pl-5">
        <strong>🛠 Tools: </strong>
        <div class="pl-4">
          <ul class="text-black-50">
            <li><strong>Collaborative Tools:</strong> Google Meet, Miro.</li>
            <li>
              <strong>Coding Environments:</strong> Github, Replit, Gitpod, Flutlab,
              Glitch.
            </li>
            <li>
              <strong>Frameworks & Environments:</strong> Android Studio, Flutter,
              Angular.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-9">
      <h4>Software developer, Continental University</h4>
    </div>
    <div class="col-3 text-end">
      <h5 class="text-black-50">Peru</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <strong class="text-black-50"> October 2014 - January 2016 </strong>
      <div class="mt-2 pl-5">
        <strong>Responsibilities: </strong>
        <div class="pl-4">
          <ul class="text-black-50">
            <li>Implement requirements to integrate a ticket platform.</li>
            <li>
              Proposal of technological solutions for the fulfillment of the
              area's objectives.
            </li>
            <li>
              Provide support to the areas that used our services and tools.
            </li>
          </ul>
        </div>
      </div>
      <div class="mt-2 pl-5">
        <strong>🛠 Tools: </strong>
        <div class="pl-4">
          <ul class="text-black-50">
            <li>
              <strong>Frontend Development:</strong> BackboneJs, AngularJs.
            </li>
            <li>
              <strong>Backend Development:</strong> ASP.NET Framework - C# MVC, ASP.NET
              Core.
            </li>
            <li><strong>Project Management Tools:</strong> Bitbuket.</li>
            <li>
              <strong>Other Tools:</strong> IIS, Entity Framework, SQL Server.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-9">
      <h4>Project manager, Peruvian North American Cultural Institute</h4>
    </div>
    <div class="col-3 text-end">
      <h5 class="text-black-50">Peru</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <strong class="text-black-50"> October 2014 - November 2016 </strong>
      <div class="mt-2 pl-5">
        <strong>Responsibilities: </strong>
        <div class="pl-4">
          <ul class="text-black-50">
            <li>Planning and execution of software projects.</li>
            <li>Implement main requirements of the solution.</li>
            <li>Assign tasks / requirements to members of a team.</li>
            <li>Integration of platforms and Web services.</li>
          </ul>
        </div>
      </div>
      <div class="mt-2 pl-5">
        <strong>🛠 Tools: </strong>
        <div class="pl-4">
          <ul class="text-black-50">
            <li>
              <strong>Frontend Development:</strong> BackboneJs, AngularJs, Bootstrap.
            </li>
            <li>
              <strong>Backend Development:</strong> ASP.NET Framework - C# MVC, ASP.NET
              Core.
            </li>
            <li><strong>Project Management Tools:</strong> Bitbuket.</li>
            <li>
              <strong>Other Tools:</strong> IIS, Entity Framework, SQL Server.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
