<style>
  h1 {
    font-size: 3em!important;
  }
  em {color: #666; font-size: 1.2em;}
</style>
<div class="row pt-2">
  <div class="col">
    <h1>Ray Rojas </h1>
    <div>
      <em>Senior Full Stack Software Engineer</em>
    </div>
  </div>
  <div class="col">
    <img width="120" class="rounded float-end img-thumbnail" src="https://cdn.equisd.com/rayrojas/static/image/rayrojas-gray.png">
  </div>  
</div>