          <h2>PROFILE
            <span class="underline"></span>
          </h2>
          <p class="text-black-50">Web/desktop/mobile software developer. <br>
          Activist Blogger of free software. <br>
          Usability and functionality in software are my interest a lot.</p>