<h2 class="mt-4">
  SKILLS
  <span class="underline"></span>
</h2>
<div>
  <ul>
    <li>Performance optimization.</li>
    <li>Software Design & Development.</li>
    <li>Coding & Scripting.</li>
    <li>Troubleshooting & Solutions Deployment.</li>
    <li>Analytical Thinking & Problem Solving.</li>
  </ul>
</div>
<br />
<br />
<h2 class="mt-4 mt-4">
  LANGUAGES
  <span class="underline"></span>
</h2>
<div>
  English, <em class="text-black-50">Intermediate</em>
</div>
<div>
  Spanish, <em class="text-black-50">Native</em>
</div>
