            <h2>EMPLOYMENT HISTORY
              <span class="underline"></span>
            </h2>
            <div>
            <div class="row">
              <div class="col-9">
                  <h4>FullStack Senior Software Developer, Joy It</h4>
                </div>
                <div class="col-3 text-end">
                  <h5 class="text-black-50">Peru</h5>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <strong class="text-black-50">
                    October 2022 - March 2023
                  </strong>
                  <div class="mt-2 pl-5">
                    <strong>Functions: </strong>
                    <div class="pl-4">
                      <ul class="text-black-50">
                        <li>Planning and execution of software projects.</li>
                        <li>Development of features / Fix bugs.</li>
                        <li>Integrating platforms and Web services.</li>
                        <li>Manage of deployment and continuous integration.</li>
                        <li>Proposal of technological solutions for the fulfillment of the customer's objectives.</li>
                      </ul>
                    </div>
                  </div>
                  <div class="mt-2 pl-5">
                    <strong>Tools: </strong>
                    <div class="pl-4">
                      <ul class="text-black-50">
                        <li>TypeScript, Vue.</li>
                        <li>TypeScript, NestJS.</li>
                        <li>MongoDB.</li>
                        <li>Gitlab, Jira.</li>
                        <li>Playwright, vitest.</li>
                      </ul>
                    </div>
                  </div>                
                </div>
              </div>
              <div class="row">
                <div class="col-9">
                  <h4>Project Management of Software Development, Classic Alpaca SAC</h4>
                </div>
                <div class="col-3 text-end">
                  <h5 class="text-black-50">Peru</h5>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <strong class="text-black-50">
                    April 2013 - October 2023
                  </strong>
                  <div class="mt-2 pl-5">
                    <strong>Fuctions: </strong>
                    <div class="pl-4">
                      <ul class="text-black-50">
                        <li>Planning and execution of software projects.</li>
                        <li>Assign tasks / requirements to members of a team.</li>
                        <li>Integration of platforms and Web services.</li>
                        <li>Deployment and continuous integration in e-commerce platforms.</li>
                        <li>Proposal of technological solutions for the fulfillment of the company's objectives.</li>
                      </ul>
                    </div>
                  </div>
                  <br>
                  <div class="mt-2 pl-5">
                    <strong>Tools: </strong>
                    <div class="pl-4">
                      <ul class="text-black-50">
                        <li>Python, Django 1.3 - 3.3 </li>
                        <li>Ruby, Rails 4 - 6</li>
                        <li>MySQL.</li>
                        <li>Github, Bitbucket.</li>
                        <li>Rspec, Selenium.</li>
                        <li>AngularJS, Handlebars, React, AngularIO</li>
                      </ul>
                    </div>
                  </div>                
                </div>
              </div>
              <div class="row">
                <div class="col-9">
                  <h4>Mentoring at Interfell, Edutecno</h4>
                </div>
                <div class="col-3 text-end">
                  <h5 class="text-black-50">Chile</h5>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <strong class="text-black-50">
                    August 2021 -  Present
                  </strong>
                  <div class="mt-2 pl-5">
                    <strong>Fuctions: </strong>
                    <div class="pl-4">                
                      <ul class="text-black-50">
                        <li>Planning and execution of bootcamps.</li>
                        <li>Teach and guide the development of software solutions with Ruby on Rails.</li>
                        <li>Assess student performance based on rubrics.</li>
                      </ul>
                    </div>
                  </div>
                  <div class="mt-2 pl-5">
                    <strong>Tools: </strong>
                    <div class="pl-4">
                      <ul class="text-black-50">
                        <li>Teams.</li>
                        <li>Miro, Replit, Gitpod.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-9">
                  <h4>Teacher, Continental Institute</h4>
                </div>
                <div class="col-3 text-end">
                  <h5 class="text-black-50">Peru</h5>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <strong class="text-black-50">
                    August 2018 -  Present
                  </strong>
                  <div class="mt-2 pl-5">
                    <strong>Fuctions: </strong>
                    <div class="pl-4">                
                      <ul class="text-black-50">
                        <li>Planning and execution of classes.</li>
                        <li>Teach and guide the development of software solutions for mobile / web platforms.</li>
                        <li>Assess student performance based on rubrics.</li>
                      </ul>
                    </div>
                  </div>
                  <div class="mt-2 pl-5">
                    <strong>Tools: </strong>
                    <div class="pl-4">
                      <ul class="text-black-50">
                        <li>Google Meet.</li>
                        <li>Miro.</li>
                        <li>Replit.</li>
                        <li>Gitpod.</li>
                        <li>Android Studio.</li>
                        <li>Flutter, Flutlab.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-1">
                <div class="col-9">
                  <h4>Software developer, Continental University</h4>
                </div>
                <div class="col-3 text-end">
                  <h5 class="text-black-50">Peru</h5>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <strong class="text-black-50">
                    October 2014 -  January 2016
                  </strong>
                  <div class="mt-2 pl-5">
                    <strong>Fuctions: </strong>
                    <div class="pl-4">                
                      <ul class="text-black-50">
                        <li>Implement requirements to integrate a ticket platform.</li>
                        <li>Proposal of technological solutions for the fulfillment of the area's objectives.</li>
                        <li>Provide support to the areas that used our services and tools.</li>
                      </ul>
                    </div>
                  </div>
                  <br><br>
                  <div class="mt-2 pl-5">
                    <strong>Tools: </strong>
                    <div class="pl-4">
                      <ul class="text-black-50">
                        <li>ASP Net - C# MVC.</li>
                        <li>SQL Server.</li>
                        <li>Entity Framework, Code first.</li>
                        <li>Bitbuket.</li>
                        <li>IIS.</li>
                        <li>BackboneJS.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-9">
                  <h4>Project manager, Peruvian North American Cultural Institute</h4>
                </div>
                <div class="col-3 text-end">
                  <h5 class="text-black-50">Peru</h5>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <strong class="text-black-50">
                    October 2014 -  November 2016
                  </strong>
                  <div class="mt-2 pl-5">
                    <strong>Fuctions: </strong>
                    <div class="pl-4">                
                      <ul class="text-black-50">
                        <li>Planning and execution of software projects.</li>
                        <li>Implement main requirements of the solucion.</li>
                        <li>Assign tasks / requirements to members of a team.</li>
                        <li>Integration of platforms and Web services.</li>
                      </ul>
                    </div>
                  </div>
                  <div class="mt-2 pl-5">
                    <strong>Tools: </strong>
                    <div class="pl-4">
                      <ul class="text-black-50">
                        <li>ASP Net - C# MVC.</li>
                        <li>SQL Server.</li>
                        <li>Entity Framework, Code first.</li>
                        <li>Bitbuket.</li>
                        <li>IIS, AngularJs, Bootstrap.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>