    <h2 class="mt-4">SKILLS
      <span class="underline"></span>
    </h2>    
    <div>
      <ul>
      <li>Performance optimization.</li>
        <li>Software Design and Development.</li>
        <li>Coding and scripting.</li>
        <li>Troubleshooting and solutions deployment.</li>
        <li>Analytical thinking skills.</li>
      </ul>
    </div>
    <br>
    <br>
    <h2 class="mt-4 mt-4">LANGUAGES
      <span class="underline"></span>
    </h2>        
    <div>
      English, <em  class="text-black-50">Intermediate</em>
    </div>
    <div>
      Spanish, <em  class="text-black-50">Native</em>
    </div>