          <h2>TECHNICAL KNOWLEDGE
            <span class="underline"></span>
          </h2>
          <div>
            <div class="row">
              <div class="col-7">
                <h4>Backend Development with Ruby on Rails</h4>
              </div>
              <div class="col-5 text-end">
                <h5 class="text-black-50">Plazi</h5>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <strong class="text-black-50">
                  July 2022
                </strong>          
              </div>
            </div>
            <div class="row">
              <div class="col">
                <strong class="text-black-50">
                  Link: <a href="https://platzi.com/p/bichito/ruta/2-backend- ruby/diploma/detalle/">
                  https://platzi.com/p/bichito/ruta/2-backend- ruby/diploma/detalle/
                  </a>
                </strong>          
              </div>
            </div>
          </div>
          <div class="mt-4">
            <div class="row">
              <div class="col-7">
                <h4>Responsive Web Design</h4>
              </div>
              <div class="col-5 text-end">
                <h5 class="text-black-50">Freecodecamp</h5>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <strong class="text-black-50">
                  September 2020
                </strong>          
              </div>
            </div>
            <div class="row">
              <div class="col">
                <strong class="text-black-50">
                  Link: <a href="https://www.freecodecamp.org/certification/ fcc7f36866f-7bd6-436a-851e-183735d18515/ responsive-web-design">
                  https://www.freecodecamp.org/certification/ fcc7f36866f-7bd6-436a-851e-183735d18515/ responsive-web-design
                  </a>
                </strong>          
              </div>
            </div>
          </div>
          <div class="mt-4">
            <div class="row">
              <div class="col-7">
                <h4>Curso de SQL y MySQL</h4>
              </div>
              <div class="col-5 text-end">
                <h5 class="text-black-50">Platzi</h5>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <strong class="text-black-50">
                  August 2020
                </strong>          
              </div>
            </div>
            <div class="row">
              <div class="col">
                <strong class="text-black-50">
                  Link: <a href="https://platzi.com/@bichito/curso/1272-sql- mysql/diploma/detalle/">
                  https://platzi.com/@bichito/curso/1272-sql- mysql/diploma/detalle/
                  </a>
                </strong>          
              </div>
            </div>
          </div>
          <div class="mt-4">
            <div class="row">
              <div class="col-7">
                <h4>JavaScript Tutorial course</h4>
              </div>
              <div class="col-5 text-end">
                <h5 class="text-black-50">SoloLearn</h5>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <strong class="text-black-50">
                  February 2020
                </strong>          
              </div>
            </div>
            <div class="row">
              <div class="col">
                <strong class="text-black-50">
                  Link: <a href="https://www.sololearn.com/Certificate/ 1024-17241780/pdf/">
                  https://www.sololearn.com/Certificate/ 1024-17241780/pdf/
                  </a>
                </strong>          
              </div>
            </div>
          </div>          