---
import "../styles/extra.css";
// Component Imports
import BaseHead from "../components/profile-es/BaseHead.astro";
import NavHeader from "../components/profile-es/NavHeader.astro";
import History from "../components/profile-es/History.astro";

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = "Ray Rojas - CV";
let description = "Ray Rojas - Full Stack Developer";
let permalink = "https://rayrojas.info/spanish";

// Data Fetching: List all Markdown posts in the repo.

let allPosts = await Astro.glob("./posts/*.md");
allPosts = allPosts.sort(
	(a, b) =>
		new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
);

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="es">
	<head>
		<BaseHead {title} {description} {permalink} />

		<style>
			header {
				width: 100%;
				height: 100%;
				background-color: var(--theme-bg-offset);
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.content {
				margin-top: 4rem;
				margin-bottom: 8rem;
			}

			.content :global(main > * + *) {
				margin-top: 1rem;
			}

			.intro {
				padding-bottom: 4rem;
				margin-bottom: 2rem;
				border-bottom: 4px solid var(--theme-divider);
			}

			.intro > * {
				margin: 0;
			}

			.latest {
				font-size: 2.5rem;
				font-weight: 700;
			}
			
		</style>
	</head>

	<body>
		<main class="container">
			<NavHeader />
      <History />
      <div class="mb-5 pb-5"></div>
		</main>
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script is:inline src="/vendors/@popperjs/popper.min.js"></script>
    <script is:inline src="/vendors/bootstrap/bootstrap.min.js"></script>
    <script is:inline src="/vendors/is/is.min.js"></script>
    <script is:inline src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script is:inline src="/vendors/fontawesome/all.min.js"></script>
    <script is:inline src="/assets/js/theme.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;family=Volkhov:wght@700&amp;display=swap" rel="stylesheet">

	</body>
</html>
