<section class="pt-7">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 text-md-start text-center pb-4">
      <img width="160" class="rounded-circle pt-7 pt-md-0 float-end" src="https://avatars.githubusercontent.com/u/1102588?v=4" alt="" />
        <p class="mb-6 lead text-secondary">
          Expert developer of web/desktop/mobile applications over techs such as: Html5, Css3, Backbone, Angular, React, NodeJs, Socket.io, Express, Django, Rails.
        </p>
        <div class="text-center text-md-start">
          <a class="btn btn-warning me-3 btn-lg" target="_blank" href="https://www.linkedin.com/in/ray-rojas/" role="button">Linkedin</a>
          <a class="btn btn-link text-warning fw-medium"  target="_blank" href="https://github.com/lokcito/" role="button">Github</a>
        </div>
      </div>
      <div class="col-md-4 text-end"></div>
    </div>
  </div>
</section>