<section class="pt-5 pt-md-9 mb-6" id="feature">
  <div class="bg-holder z-index--1 bottom-0 d-none d-lg-block"></div>
  <!--/.bg-holder-->

  <div class="container">
    <h1 class="fs-9 fw-bold mb-4 text-center">
      Python and Ruby <br class="d-none d-xl-block" />are my main programing
      languages
    </h1>
    <div class="row text-center">
      <div class="col-lg-3 col-sm-6 mb-2">
        <img
          class="mb-3 ms-n3"
          src="https://i.imgur.com/FKJsnMC.png"
          width="75"
          alt="Feature"
        />
        <h4 class="mb-3">+5 years</h4>
        <p class="mb-0 fw-medium text-secondary">
          Working with Django Projects
        </p>
      </div>
      <div class="col-lg-3 col-sm-6 mb-2">
        <img
          class="mb-3 ms-n3"
          src="https://i.imgur.com/bq91qYF.png"
          width="75"
          alt="Feature"
        />
        <h4 class="mb-3">+4 years</h4>
        <p class="mb-0 fw-medium text-secondary">Working with Rails Projects</p>
      </div>
      <div class="col-lg-3 col-sm-6 mb-2">
        <img
          class="mb-3 ms-n3"
          src="https://i.imgur.com/KqvECwF.png"
          width="75"
          alt="Feature"
        />
        <h4 class="mb-3">Full Stack</h4>
        <p class="mb-0 fw-medium text-secondary">
          Implementing frontend and backend features.
        </p>
      </div>
      <div class="col-lg-3 col-sm-6 mb-2">
        <img
          class="mb-3 ms-n3"
          src="https://i.imgur.com/7ctJ6j1.png"
          width="75"
          alt="Feature"
        />
        <h4 class="mb-3">TDD</h4>
        <p class="mb-0 fw-medium text-secondary">
          Without forget the importance of unit and e2e tests.
        </p>
      </div>
    </div>
  </div><!-- end of .container-->
</section>
