          <h2>EDUCACIÓN
            <span class="underline"></span>
          </h2>
          <div>
            <div class="row">
              <div class="col-7">
                <h4>Egresado de Maestría en Educación Universitaria</h4>
              </div>
              <div class="col-5 text-end">
                <h5 class="text-black-50">Escuela de Postgrado Continental</h5>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <strong class="text-black-50">
                  Agosto 2017 - Diciembre 2019
                </strong>          
              </div>
            </div>
          </div>
          <div class="mt-2">
            <div class="row">
              <div class="col-7">
                <h4>Ingeniería Mecatrónica - En proceso</h4>
              </div>
              <div class="col-5 text-end">
                <h5 class="text-black-50">Universidad Continental de Ciencias e Ingeniería</h5>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <strong class="text-black-50">
                  Agosto 2015 - Diciembre 2019
                </strong>          
              </div>
            </div>
          </div>          
          <div class="mt-2">
            <div class="row">
              <div class="col-7">
                <h4>Titulado en Ingeniería de Sistemas e Informática</h4>
              </div>
              <div class="col-5 text-end">
                <h5 class="text-black-50">Universidad Continental de Ciencias e Ingeniería</h5>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <strong class="text-black-50">
                  Abril 2008 - Julio 2013
                </strong>          
              </div>
            </div>
          </div>          