    <h2>DETALLES
      <span class="underline"></span>
    </h2>
    <div class="mb-3">
      <strong class="d-block">Nacionalidad: </strong>
      <span class="text-black-50">
        Peruana
      </span>
    </div>
    <div class="mb-3">
      <strong class="d-block">Fecha Nac.: </strong>
      <span class="text-black-50">
        30-Oct. 1989
      </span>
    </div>
    <div class="mb-3">
      <strong class="d-block">Dirección: </strong>
      <span class="text-black-50">
        jr. Necochea 361 – Cerrito de la Libertad – Huancayo
      </span>
    </div>        
    <div class="mb-3">
      <strong class="d-block">Teléfono: </strong>
      <span class="text-black-50">
        +51 981 999933
      </span>
    </div>
    <div class="mb-3">
      <strong class="d-block">Email: </strong>
      <span class="text-black-50">me@rayrojas.info</span>
    </div>
    <div class="mb-3">
      <strong class="d-block">Github: </strong>
      <span class="text-black-50"><a href="https://github.com/lokcito/">https://github.com/lokcito/</a></span>
    </div>
    <div class="mb-3">
      <strong class="d-block">Linkedin: </strong>
      <span class="text-black-50"><a href="https://www.linkedin.com/in/ray-rojas/">ray-rojas</a></span>
    </div>
    <div class="mb-3">
      <strong class="d-block">Website: </strong>
      <span class="text-black-50"><a href="https://rayrojas.info">https://rayrojas.info</a></span>
    </div>   
    <div class="mb-3">
      <strong class="d-block">Skype: </strong>
      <span class="text-black-50">enciso.leo</span>
    </div>