            <h2>EMPLEOS
              <span class="underline"></span>
            </h2>
            <div>
            <div class="row">
              <div class="col-9">
                <h4>Desarrollador FullStack Senior, L&A Electronic</h4>
              </div>
              <div class="col-3 text-end">
                <h5 class="text-black-50">Peru</h5>
              </div>
            </div>
              <div class="row">
                <div class="col">
                  <strong class="text-black-50">
                    Abril 2023 - Presente
                  </strong>
                  <div class="mt-2 pl-5">
                    <strong>Funciones: </strong>
                    <div class="pl-4">
                      <ul class="text-black-50 mb-1">
                        <li>Planear and implementing features on projects.</li>
                        <li>Implementacion de caractisticas / Fix bugs.</li>
                        <li>Integrar plataformas y Web services.</li>
                        <li>Administrar el despliegue e integracion continua.</li>
                        <li>Proponer soluciones tecnologicas para el cumplimiento de los objetivos del cliente.</li>
                      </ul>
                    </div>
                  </div>
                  <div class="pl-5">
                    <strong>Herramientas: </strong>
                    <div class="pl-4">
                      <ul class="text-black-50">
                        <li>TypeScript, Vue.</li>
                        <li>TypeScript, NestJS.</li>
                        <li>MongoDB, Gitlab, Jira.</li>
                        <li>Playwright, Vitest, Shopify Tools.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-9">
                  <h4>Desarrollador FullStack Senior, Joy It</h4>
                </div>
                <div class="col-3 text-end">
                  <h5 class="text-black-50">Peru</h5>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <strong class="text-black-50">
                    Octubre 2022 - March 2023
                  </strong>
                  <div class="mt-2 pl-5">
                    <strong>Funciones: </strong>
                    <div class="pl-4">
                      <ul class="text-black-50 mb-1">
                        <li>Planear y ejecutar proyectos de software.</li>
                        <li>Implementacion de caractisticas / correccion de fallos.</li>
                        <li>Integrar plataformas y Web services.</li>
                        <li>Administrar el despliegue e integracion continua.</li>
                        <li>Proponer soluciones tecnologicas para el cumplimiento de los objectives del cliente.</li>
                      </ul>
                    </div>
                  </div>
                  <div class="mt-2 pl-5">
                    <strong>Herramientas: </strong>
                    <div class="pl-4">
                      <ul class="text-black-50">
                        <li>TypeScript, Vue.</li>
                        <li>TypeScript, NestJS.</li>
                        <li>MongoDB, Gitlab, Jira, Playwright, Vitest</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-9">
                  <h4>Administracion de Proyectos de Software, Classic Alpaca SAC</h4>
                </div>
                <div class="col-3 text-end">
                  <h5 class="text-black-50">Peru</h5>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <strong class="text-black-50">
                    Abril 2013 - Octubre 2023
                  </strong>
                  <div class="mt-2 pl-5">
                    <strong>Funciones: </strong>
                    <div class="pl-4">
                      <ul class="text-black-50">
                        <li>Planear y ejecutar proyectos de software.</li>
                        <li>Asinar tareas / requerimientos a los miembros del equipo.</li>
                        <li>Integrar plataformas y Web services.</li>
                        <li>Despliegue e integracion continua en plataformas e-commerce.</li>
                        <li>Proponer soluciones tecnologicas para el cumplimiento de los objetivos de las empresa.</li>
                      </ul>
                    </div>
                  </div>
                  <div class="mt-2 pl-5">
                    <strong>Herramientas: </strong>
                    <div class="pl-4">
                      <ul class="text-black-50">
                        <li>Python, Django 1.3 - 3.3 </li>
                        <li>Ruby, Rails 4 - 6</li>
                        <li>MySQL.</li>
                        <li>Github, Bitbucket.</li>
                        <li>Rspec, Selenium.</li>
                        <li>AngularJS, Handlebars, React, AngularIO</li>
                      </ul>
                    </div>
                  </div>                
                </div>
              </div>
              <div class="row">
                <div class="col-9">
                  <h4>Relator en Interfell, Edutecno</h4>
                </div>
                <div class="col-3 text-end">
                  <h5 class="text-black-50">Chile</h5>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <strong class="text-black-50">
                    Agosto 2021 - Present
                  </strong>
                  <div class="mt-2 pl-5">
                    <strong>Funciones: </strong>
                    <div class="pl-4">                
                      <ul class="text-black-50">
                        <li>Planeamiento y ejecution de bootcamps.</li>
                        <li>Ensenar y guiar el proceso de desarrollo de soluciones de software con Ruby on Rails.</li>
                        <li>Evaluar el desempeno del estudiante basado en rubricas.</li>
                      </ul>
                    </div>
                  </div>
                  <div class="mt-2 pl-5">
                    <strong>Herramientas: </strong>
                    <div class="pl-4">
                      <ul class="text-black-50">
                        <li>Teams.</li>
                        <li>Miro, Replit, Gitpod.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-9">
                  <h4>Docente, Instituto Continental</h4>
                </div>
                <div class="col-3 text-end">
                  <h5 class="text-black-50">Peru</h5>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <strong class="text-black-50">
                    Agosto 2018 - Presente
                  </strong>
                  <div class="mt-2 pl-5">
                    <strong>Funciones: </strong>
                    <div class="pl-4">                
                      <ul class="text-black-50">
                        <li>Planear y ejecutar sesiones academicas.</li>
                        <li>Ensenar y guiar el desarrollo de aplicaciones para plataformas mobiles y web.</li>
                        <li>Evaluar el desempeno de los estudiantes basado en rubricas.</li>
                      </ul>
                    </div>
                  </div>
                  <div class="mt-2 pl-5">
                    <strong>Herramientas: </strong>
                    <div class="pl-4">
                      <ul class="text-black-50">
                        <li>Google Meet.</li>
                        <li>Miro.</li>
                        <li>Replit.</li>
                        <li>Gitpod.</li>
                        <li>Android Studio.</li>
                        <li>Flutter, Flutlab.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-1">
                <div class="col-9">
                  <h4>Analista Programador, Universidad Continental</h4>
                </div>
                <div class="col-3 text-end">
                  <h5 class="text-black-50">Peru</h5>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <strong class="text-black-50">
                    Octubre 2014 - Enero 2016
                  </strong>
                  <div class="mt-2 pl-5">
                    <strong>Funciones: </strong>
                    <div class="pl-4">                
                      <ul class="text-black-50">
                        <li>Implementacion de requerimientos para la plataforma CAU.</li>
                        <li>Proponer soluciones tecnologicas que permitan cumplis con los objectivos del area.</li>
                        <li>Proporcionar soporte tecnologico a las areas que usan la plataforma CAU.</li>
                      </ul>
                    </div>
                  </div>
                  <div class="mt-2 pl-5">
                    <strong>Herramientas: </strong>
                    <div class="pl-4">
                      <ul class="text-black-50">
                        <li>ASP Net - C# MVC.</li>
                        <li>SQL Server.</li>
                        <li>Entity Framework, Code first.</li>
                        <li>Bitbuket.</li>
                        <li>IIS.</li>
                        <li>BackboneJS.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-9">
                  <h4>Administrador de Proyectos, ICPNA</h4>
                </div>
                <div class="col-3 text-end">
                  <h5 class="text-black-50">Peru</h5>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <strong class="text-black-50">
                    Octubre 2014 - Noviembre 2016
                  </strong>
                  <div class="mt-2 pl-5">
                    <strong>Funciones: </strong>
                    <div class="pl-4">                
                      <ul class="text-black-50">
                        <li>Planear y ejecutar proyectos de software.</li>
                        <li>Implementar los requerimientos principales del proyecto.</li>
                        <li>Deletar tareas / requeriemientos a los miembros del equipo.</li>
                        <li>Integracion de plataformas y Web services.</li>
                      </ul>
                    </div>
                  </div>
                  <div class="mt-2 pl-5">
                    <strong>Herramientas: </strong>
                    <div class="pl-4">
                      <ul class="text-black-50">
                        <li>ASP Net - C# MVC.</li>
                        <li>SQL Server.</li>
                        <li>Entity Framework, Code first.</li>
                        <li>Bitbuket.</li>
                        <li>IIS, AngularJs, Bootstrap.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>