<h2>
  <br>
  EMPLEOS
  <span class="underline"></span>
</h2>
<div>
  <div class="row">
    <div class="col-9">
      <h4>Desarrollador FullStack Senior, UPSJB</h4>
    </div>
    <div class="col-3 text-end">
      <h5 class="text-black-50">Perú</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <strong class="text-black-50"> Octubre 2023 - Presente </strong>
      <div class="mt-2 pl-5">
        <strong>Funciones: </strong>
        <div class="pl-4">
          <ul class="text-black-50 mb-1">
            <li>
              Planear e implementar proyectos académicos.
            </li>
            <li>Mantenimiento de aplicaciones pre-existentes.</li>
            <li>Integrar plataformas y Web services.</li>
            <li>Implementacion de pruebas unitarias.</li>
            <li>
              Proponer soluciones tecnológicas para el cumplimiento de los
              objetivos de la universidad.
            </li>
          </ul>
        </div>
      </div>
      <div class="pl-5">
        <strong>Herramientas: </strong>
        <div class="pl-4">
          <ul class="text-black-50">
            <li>TypeScript, Vue.</li>
            <li>TypeScript, NestJS.</li>
            <li>MongoDB, Gitlab, Jira.</li>
            <li>Playwright, Vitest, Shopify Tools.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-9">
      <br>
      <h4>Relator en Interfell, Edutecno</h4>
    </div>
    <div class="col-3 text-end">
      <h5 class="text-black-50">Chile</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <strong class="text-black-50"> Agosto 2021 - Presente </strong>
      <div class="mt-2 pl-5">
        <strong>Funciones: </strong>
        <div class="pl-4">
          <ul class="text-black-50">
            <li>Planeamiento y ejecución de bootcamps.</li>
            <li>
              Enseñar y guiar el proceso de desarrollo de soluciones de software
              con Ruby on Rails.
            </li>
            <li>Evaluar el desempeño del estudiante basado en rúbricas.</li>
          </ul>
        </div>
      </div>
      <div class="mt-2 pl-5">
        <strong>Herramientas: </strong>
        <div class="pl-4">
          <ul class="text-black-50">
            <li>Teams.</li>
            <li>Miro, Replit, Gitpod.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-9">
      <h4>Docente, Instituto Continental</h4>
    </div>
    <div class="col-3 text-end">
      <h5 class="text-black-50">Perú</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <strong class="text-black-50"> Agosto 2018 - Presente </strong>
      <div class="mt-2 pl-5">
        <strong>Funciones: </strong>
        <div class="pl-4">
          <ul class="text-black-50">
            <li>Planear y ejecutar sesiones académicas.</li>
            <li>
              Enseñar y guiar el desarrollo de aplicaciones para plataformas
              móviles y web.
            </li>
            <li>Evaluar el desempeño de los estudiantes basado en rúbricas.</li>
          </ul>
        </div>
      </div>
      <div class="mt-2 pl-5">
        <strong>Herramientas: </strong>
        <div class="pl-4">
          <ul class="text-black-50">
            <li>Google Meet.</li>
            <li>Miro.</li>
            <li>Replit.</li>
            <li>Gitpod.</li>
            <li>Android Studio.</li>
            <li>Flutter, Flutlab.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-9">
      <h4>Desarrollador FullStack Senior, L&A Electronic</h4>
    </div>
    <div class="col-3 text-end">
      <h5 class="text-black-50">Perú</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <strong class="text-black-50"> Abril 2023 - Marzo 2024 </strong>
      <div class="mt-2 pl-5">
        <strong>Funciones: </strong>
        <div class="pl-4">
          <ul class="text-black-50 mb-1">
            <li>
              Planear e implementar características en proyectos asignados.
            </li>
            <li>Implementación de características / corrección de fallos.</li>
            <li>Integrar plataformas y Web services.</li>
            <li>Administrar el despliegue e integración continua.</li>
            <li>
              Proponer soluciones tecnológicas para el cumplimiento de los
              objetivos del cliente.
            </li>
          </ul>
        </div>
      </div>
      <div class="pl-5">
        <strong>Herramientas: </strong>
        <div class="pl-4">
          <ul class="text-black-50">
            <li>TypeScript, Vue.</li>
            <li>TypeScript, NestJS.</li>
            <li>MongoDB, Gitlab, Jira.</li>
            <li>Playwright, Vitest, Shopify Tools.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-9">
      <h4>Desarrollador FullStack Senior, Joy It</h4>
    </div>
    <div class="col-3 text-end">
      <h5 class="text-black-50">Perú</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <strong class="text-black-50"> Octubre 2022 - Marzo 2023 </strong>
      <div class="mt-2 pl-5">
        <strong>Funciones: </strong>
        <div class="pl-4">
          <ul class="text-black-50 mb-1">
            <li>Planear y ejecutar proyectos de software.</li>
            <li>Implementación de características / corrección de fallos.</li>
            <li>Integrar plataformas y Web services.</li>
            <li>Administrar el despliegue e integración continua.</li>
            <li>
              Proponer soluciones tecnológicas para el cumplimiento de los
              objetivos del cliente.
            </li>
          </ul>
        </div>
      </div>
      <div class="mt-2 pl-5">
        <strong>Herramientas: </strong>
        <div class="pl-4">
          <ul class="text-black-50">
            <li>TypeScript, Vue.</li>
            <li>TypeScript, NestJS.</li>
            <li>MongoDB, Gitlab, Jira, Playwright, Vitest</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-9">
      <h4>Administración de Proyectos de Software, Classic Alpaca SAC</h4>
    </div>
    <div class="col-3 text-end">
      <h5 class="text-black-50">Perú</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <strong class="text-black-50"> Abril 2013 - Octubre 2023 </strong>
      <div class="mt-2 pl-5">
        <strong>Funciones: </strong>
        <div class="pl-4">
          <ul class="text-black-50">
            <li>Planear y ejecutar proyectos de software.</li>
            <li>Asignar táreas / requerimientos a los miembros del equipo.</li>
            <li>Integrar plataformas y Web services.</li>
            <li>
              Despliegue e integración continua en plataformas e-commerce.
            </li>
            <li>
              Proponer soluciones tecnológicas para el cumplimiento de los
              objetivos de las empresa.
            </li>
          </ul>
        </div>
      </div>
      <div class="mt-2 pl-5">
        <strong>Herramientas: </strong>
        <div class="pl-4">
          <ul class="text-black-50">
            <li>Python, Django 1.3 - 3.3</li>
            <li>Ruby, Rails 4 - 6</li>
            <li>MySQL.</li>
            <li>Github, Bitbucket.</li>
            <li>Rspec, Selenium.</li>
            <li>AngularJS, Handlebars, React, AngularIO</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-9">
      <h4>Analista Programador, Universidad Continental</h4>
    </div>
    <div class="col-3 text-end">
      <h5 class="text-black-50">Perú</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <strong class="text-black-50"> Octubre 2014 - Enero 2016 </strong>
      <div class="mt-2 pl-5">
        <strong>Funciones: </strong>
        <div class="pl-4">
          <ul class="text-black-50">
            <li>Implementación de requerimientos para la plataforma CAU.</li>
            <li>
              Proponer soluciones tecnológicas que permitan cumplir con los
              objectivos del área.
            </li>
            <li>
              Proporcionar soporte tecnológico a las áreas que usan la
              plataforma CAU.
            </li>
          </ul>
        </div>
      </div>
      <div class="mt-2 pl-5">
        <strong>Herramientas: </strong>
        <div class="pl-4">
          <ul class="text-black-50">
            <li>ASP Net - C# MVC.</li>
            <li>SQL Server.</li>
            <li>Entity Framework, Code first.</li>
            <li>Bitbuket.</li>
            <li>IIS.</li>
            <li>BackboneJS.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-9">
      <h4>Administrador de Proyectos, ICPNA</h4>
    </div>
    <div class="col-3 text-end">
      <h5 class="text-black-50">Perú</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <strong class="text-black-50"> Octubre 2014 - Noviembre 2016 </strong>
      <div class="mt-2 pl-5">
        <strong>Funciones: </strong>
        <div class="pl-4">
          <ul class="text-black-50">
            <li>Planear y ejecutar proyectos de software.</li>
            <li>Implementar los requerimientos principales del proyecto.</li>
            <li>Delegar táreas / requerimientos a los miembros del equipo.</li>
            <li>Integración de plataformas y Web services.</li>
          </ul>
        </div>
      </div>
      <div class="mt-2 pl-5">
        <strong>Herramientas: </strong>
        <div class="pl-4">
          <ul class="text-black-50">
            <li>ASP Net - C# MVC.</li>
            <li>SQL Server.</li>
            <li>Entity Framework, Code first.</li>
            <li>Bitbuket.</li>
            <li>IIS, AngularJs, Bootstrap.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
