          <h2>PERFIL
            <span class="underline"></span>
          </h2>
          <p class="text-black-50">Desarrollador de software Web/desktop/móvil. <br>
          Activista/Blogger de software libre. <br>
          La usabilidad y funcionalidad del software son mi mayor interés.</p>