    <h2 class="mt-4">SKILLS
      <span class="underline"></span>
    </h2>    
    <div>
      <ul>
      <li>Optimizacion de algoritmos.</li>
        <li>Diseno y desarrollo de software.</li>
        <li>Resolución de problemas e implementación de soluciones.</li>
        <li>Habilidades de pensamiento analítico.</li>
      </ul>
    </div>
    <br>
    <br>
    <h2 class="mt-4 mt-4">IDIOMAS
      <span class="underline"></span>
    </h2>        
    <div>
      Ingles, <em  class="text-black-50">Intermedio</em>
    </div>
    <div>
      Espanol, <em  class="text-black-50">Nativo</em>
    </div>